#root{
width: 98%;
}
form > .MuiFab-extended{
width: 215px;
}
    h1{
        color: white;
        padding-bottom: 4vh;
    }
    .form-group > div > label{
        color: white;
    }
    .form-group > div > div > .MuiInputBase-input{
    color: white;
    }
    .form-group > div > div > fieldset{ 
       border-color: white;
    }

    body{
    background-color: black;
    }